<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),  url('<%= image_path "recalbox-banner.png" %>')>">
<div class="container"id ="title">
    <h1><strong>Plug and Play Again</strong> with <strong>Recalbox 7.1</strong></h1>
    <p>Kit de retrogamming capable d'emuler 60 systems</p>
    <%= link_to "Boutique", "computers#index", class: "btn btn-flat" %>
  </div>
</div>
