<%= render 'shared/banner' %>
<div class="container-cards">
  <div class="cards">
    <div class="card-category" style="background-image: url(https://www.kubii.fr/7455-large_default/boitier-gaming-pour-odroid-xu4-kubii.jpg)">
     CONSOLE
    </div>

    <div class="card-category" style="background-image: url(https://media.ldlc.com/r374/ld/products/00/05/47/77/LD0005477784_2.jpg)">
     NUC
    </div>

    <div class="card-category" style="background-image: url(https://www.kubii.fr/10725-large_default/console-odroid-go-super.jpg)">
     PORTABLE
    </div>
  </div>
</div>


