<%= render 'shared/banner' %>
<div class="container-cards">
  <div class="cards">
    <div class="card-category" style="background-image: url(https://www.kubii.fr/7455-large_default/boitier-gaming-pour-odroid-xu4-kubii.jpg)">
     CONSOLE
    </div>

    <div class="card-category" style="background-image: url(https://www.kubii.fr/10190-large_default/boitier-neo-pour-raspberry-pi-4.jpg)">
     NUC
    </div>

    <div class="card-category" style="background-image: url(https://www.kubii.fr/10725-large_default/console-odroid-go-super.jpg)">
     PORTABLE
    </div>
   
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
     ALL 
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
     ODROID XU4
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
     NUC NEN4
    </div>
  </div>
</div>
<%= render 'shared/footer' %>

