<%= render 'shared/banner' %>
<div class="container-cards">
  <div class="cards">
    <div class="card-category" style="background-image: url(https://www.kubii.fr/7455-large_default/boitier-gaming-pour-odroid-xu4-kubii.jpg)">
     CONSOLE
    </div>

    <div class="card-category" style="background-image: url(https://media.ldlc.com/r374/ld/products/00/05/47/77/LD0005477784_2.jpg)">
     NUC
    </div>

    <div class="card-category" style="background-image: url(https://www.kubii.fr/10725-large_default/console-odroid-go-super.jpg)">
     PORTABLE
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="https://gitlab.com/recalbox/recalbox" target="_blank"><i class="fab fa-gitlab"></i></a>
    <a href="https://www.facebook.com/recalbox" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/recalbox" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://discord.com/invite/NbQFbGM" target="_blank"><i class="fab fa-discord"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made by andy with <i class="fas fa-heart"></i> at Le Wagon 2021
  </div>
</div>


