#title {
margin: 0;
padding-top: 50px;
padding-left: 20px;
}

.banner {
  background-size: cover;
  padding:25px 0;
  background-repeat: no-repeat;
  height:700px;
  background-image: asset-url('recalbox-banner.png');
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bolder;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  // opacity: 0.8;
font-weight: 600;
font-size: 24px;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
  // opacity: 1;
}