.navbar-lewagon {
  justify-content: space-between;
  background-color: #004a57;
}

.navbar-lewagon li a {
  color: white !important;
  font-weight: 700;
  font-size:large;
}
.navbar-lewagon li a:hover {
  color: orangered !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarSupportedContent .nav-items a{
color:white;
}



